
* {
    cursor: url(../upload/asperges-link.svg),auto;
}

html {
    min-height: 100%;
    cursor: url(../upload/asperges-link.svg),auto;
}

body {
    font-family: 'Nunito', sans-serif!important;
    font-weight: 400;
    cursor: url(../upload/asperges-link.svg),auto;
    
}

img, iframe  {
    width: 100%;
    height: auto;
}

a:hover, a>i:hover {
    cursor: url(../upload/asperge-default.svg), auto;

}
a:hover *, button:hover {
    cursor: url(../upload/asperge-default.svg), auto;
}

button:hover {
    cursor: url(../upload/asperge-default.svg), auto;
}
li {
    font-weight: 700;
}

.main-content {
    padding-bottom: 4rem;
    cursor: url(../upload/asperges-link.svg), auto!important;
    background-image: url(../upload/Tomate.svg), url(../upload/Asperge.svg),  url(../upload/Feuilles.svg);
    background-repeat: no-repeat;
    background-position: bottom right, top left, top right;
    background-size: 500px auto, contain, 200px auto;
}


#apropos h2 {
    font-weight: 900;
    font-size: 2rem;
    color: #f7aa58;
    letter-spacing: 1px;
    text-shadow: 2px 2px 2px #fff;
}

#apropos p {
    text-align: justify;
    color: pink;
    mix-blend-mode: difference;
}


/*Section card*/
.cartes {
    margin: 4rem auto;
    display: grid;
    grid-template-columns: repeat(4,minmax(15rem, auto));
    gap: 4vw;
    color: #1d1d1b;
}

@media (min-width: 576px) {
    .cartes {
        max-width: 540px;
    }
}
@media (min-width: 768px) {
    .cartes {
        max-width: 720px;
    }
}
@media (min-width: 992px) {
    .cartes {
        max-width: 960px;
    }
}
@media (min-width: 1200px) {
    .cartes {
        max-width: 1140px;
    }
}


.card {
    padding-top: 1.5rem;
    border: none;
    border-bottom: 1px solid #5c9544;
    border-radius: 2rem;
    box-shadow: 0 0 3rem #ddd;
}

.card-body {
    padding: 0 1.25rem 1rem;
}

.card-header {
    display: flex;
	height: 14vw;
	justify-content: center;
	align-items: center;
    background-color: #fff;
    background-size: 3rem 3rem;
    border-bottom: none;
    border-radius: .5rem .5rem 0 0;
}

.card-header-content {
	width: 14vw;
	max-width: 14rem;
	border-radius: 50%;
	overflow: hidden;
}

.ratio-box {
    width: 100%;
	height: 0;
	padding-top: 100%;
	position: relative;
    text-align: justify;
}

.card-header img {
    position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	object-fit: cover;
}

.cost span {
    color: #F39F06;
    font-weight: bold;
    font-size: 20px;
}

.card-title {
    margin-bottom: 1rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-weight: 900;
    color: #415a23;
    letter-spacing: 1px;
    border-bottom: #b9d378 1px solid;
}

.card-text {
    height: 12rem;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    letter-spacing: 0;
    hyphens: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;      
}

.star {
    color: rgb(230, 230, 88);
    text-align: center;
}

.btn {
    display: inline-block;
    position: relative;
    font-family: 'Nunito', sans-serif;
    font-weight: 900;
    color: #fff;
    background-color: #f7aa58;
    border-color: #f7aa58;
    border-radius: 2rem;
}

.btn:active {
    transform: translate(0px, 5px);
    -webkit-transform: translate(0px, 5px);
    box-shadow: 0px 1px 0px 0px;
  }

.btn.ajouter  {
color: #fff;
transform: scale(1);
transition: all 500ms ease;
cursor: url(../upload/asperge-default.svg), auto;
}

.btn.ajouter:hover {
    color: #fff;
    background-color: #415a23!important;
    transform: perspective(1px) rotate(5deg);    
  }

.moins-plus {
    margin: 0 1rem;
    padding: 0.5rem;
    display: inline-block;
    position: relative;
    text-align: center;
    background-color: #fff;
    border-radius: 2rem;
    border: 4px solid #f7aa58;
}

.moins-plus a.moins,
.moins-plus input,
.moins-plus a.plus {
    display: inline-block;
    position: relative;
    width: 30%;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    text-decoration: none;
    color: #415a23;
    font-size: 1rem;
    font-weight: 900;
    transition: all 500ms ease;
    cursor: url(../upload/asperge-default.svg), auto;
}

.moins-plus input {
    margin-right: 0;
    padding: 0 0 0 .75rem;
    text-align: center;
    border: 1.5px solid #ddd;
    border-radius: 1.5rem;
    
}

/* LOGIN et REGISTER*/
.login-page h2,
.register-page h2 {
    color:#F39F06;
    font-weight: 900;
}
.login-page.main-content section,
.register-page.main-content section {
    background-image: linear-gradient(180deg, green, transparent);
    border-radius: 1rem 1rem 0 0;
    padding-top: 1rem;
}

.login-page.main-content .card-body,
.register-page.main-content .card-body {
    border: none;
}
.login-page.main-content input,
.register-page.main-content input {
    border-radius: 4px;
}
.login-page.main-content h6,
.register-page.main-content h6 {
    letter-spacing: 2px;
}

.login-page.main-content h6 a,
.register-page.main-content h6 a {
    text-decoration: none;
    border-bottom: 1px solid #f7aa58;
}

.btn.se-connecter,
.btn.inscription {
    letter-spacing: 3px;
    transition: all 500ms ease;
    cursor: url(../upload/asperge-default.svg), auto;    
}

.btn.se-connecter:hover,
.btn.inscription:hover {
    color: #fff;
    background-color: #415a23!important;
    cursor: url(../upload/asperge-default.svg), auto;    
}

/* Vider le panier */
.btn.vider {
    background-color: #e17a67;
    border-color:#e17a67;
}


/* Achats */

.content-full-cart {
    padding-bottom: 4rem;
    cursor: url(../upload/asperges-link.svg), auto!important;
}
.content-full-cart.main-content {
    background-image: none;
}

.achat-produits {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding-top: 1.5rem;
    border: none;
    border-bottom: 1px solid #5c9544;
    border-radius: 2rem;
    box-shadow: 0 0 3rem #ddd;

}

.grille-produit {
    width: 60%;
    margin: 0 auto;
    padding: 1rem;
    display: grid;
    grid-template-columns: 10rem auto;
    grid-template-rows: 10rem;
    gap: 2rem;
    border-radius: 4px;
    border-bottom: 1px solid #5c9544;
}

.product-name {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 700;
}

.product-total {
    font-size: 1.5rem;
    font-weight: 700;
}

.product-calcul {
    background: #f7aa58;
    border-radius: 4rem;
}

.product-calcul p,
.product-calcul .btn {
    margin: 0;
    padding: .5rem;
    font-weight: 700;
    font-size: 1rem;
}
.product-calcul .btn {
    background: #fff;
    color:#415a23;
}

.product-calcul .remove .btn,
.product-calcul .cancel .btn {
    background: #fff;
    color:#415a23;
}
.product-calcul .cancel .btn {
    background: #e6e6e6;
    font-size: .75rem;
}

.product-calcul .btn:hover,
.product-calcul p:hover,
.execute-command.btn {
    transition: all 500ms ease;
    cursor: url(../upload/asperge-default.svg), auto;    
}



.total-produits {    
    width: 60%;
    margin: 0 auto;
}

.total-produits h4 {
    font-weight: 800;
    font-size: 1.5rem;
    padding: 1rem 0;
}

.execute-command {
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
}
.execute-command .btn {
    background-color: #96ae32;
    border-color: #96ae32;
}